<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-default" ng-click="showProduct=!showProduct">显示/隐藏工作产品定义</button>
        <div class="well" ng-hide="showProduct">
            <h3>产品名称: {{productData.name}}</h3>
            <h4>产品描述:</h4>
            <div ng-bind-html="productData.description"></div>
        </div>
        <div class="well" ng-hide="showProduct">
            <h3>工具名称: {{feature.tool.name}}</h3>
            <h4>工具描述:</h4>
            <div ng-bind-html="productData.tool.description"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="well">
            <table class="table">
                <tr>
                    <th>Series Name</th>
                    <th>Series Field</th>
                    <th></th>
                </tr>
                <tr ng-repeat="series in theSeries">
                    <td>{{series.name}}</td>
                    <td>{{series.field}}</td>
                    <td><button class="btn btn-danger">Remove</button></td>
                </tr>
            </table>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail2">Email address</label>
                    <input type="text" class="form-control" id="exampleInputEmail2" ng-model="newSeries.name" placeholder="Series Name">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword2">Password</label>
                    <input type="text" class="form-control" id="exampleInputPassword2" ng-model="newSeries.field" placeholder="Series Field">
                </div>
                <button type="submit" class="btn btn-default" ng-click="addSeries()">Add Series</button>
            </form>
            <div kendo-chart
                 k-legend="{ position: 'bottom' }"
                 k-series-defaults="{ type: 'area' }"
                 k-series="theSeries"
                 k-data-source="electricity"
                 k-on-change="refresh()">

            </div>
        </div>
    </div>
</div>