<zr-header title="修改工作产品"></zr-header>

<div class="row">
    <div zr-panel title="输入工作产品属性" col-lg="6">
        <form>
            <div class="form-group">
                <label>工作产品名称</label>
                <input type="text" class="form-control" ng-model="product.name">
            </div>
            <div class="form-group">
                <label>工作产品类型</label>
                <select class="form-control" ng-model="product.type" ng-options="type as type for type in types">
                </select>
            </div>
            <div class="form-group">
                <label>工作产品描述</label>
                <textarea kendo-editor k-encoded="false" ng-model="product.description"></textarea>
            </div>
            <button class="btn btn-primary" ng-click="save(product)">保存</button>
        </form>
    </div>
    <div zr-panel title="定义工作产品特定属性" col-lg="6" ng-switch on="product.type">
        <div ng-switch-when="simple">简单工作产品在项目中显示其过程定义</div>
        <div zr-document ng-switch-when="treeDocument" data="product.data"></div>
        <div zr-list ng-switch-when="document" data="product.data"></div>
        <div ng-switch-when="json"><textarea class="col-lg-12" rows="10" ng-model="product.data"></textarea></div>
        <div zr-file ng-switch-when="file" data="product.data"></div>
        <div ng-switch-default></div>
    </div>
</div>