<div ui-view>
    <zr-header title="管理活动"></zr-header>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    活动列表
                    <button class="btn btn-success" ui-sref="activity.create">新建活动</button>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>活动名称</th>
                            <th>包含特征</th>
                            <th>所属标签</th>
                            <th>输入</th>
                            <th>输出</th>
                            <th>操作</th>
                        </tr>
                        <tr ng-repeat="(key,item) in activityList">
                            <td>{{item.name}}</td>
                            <td>{{item.features}}</td>
                            <td>{{item.tags}}</td>
                            <td>{{item.inputs}}</td>
                            <td>{{item.outputs}}</td>
                            <td nowrap>
                                <button type="button" class="btn btn-warning btn-xs" ui-sref="activity.edit({id:item.$id})">
                                    <span class="glyphicon glyphicon-edit"></span> 编辑
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="removeActivity(item)">
                                    <span class="glyphicon glyphicon-trash"></span> 删除
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
