<div ui-view>
    <zr-header title="修改标签"></zr-header>

    <div class="row">
        <div zr-panel col-lg="12" title="输入标签属性">
            <form name="form" novalidate>
                <div class="form-group">
                    <label>标签名称</label>
                    <input name="name" type="text" class="form-control" ng-model="tag.name" required>
                    <div class="error" ng-show="form.name.$dirty && form.name.$invalid">
                        <small class="bg-danger">This field is required!</small>
                    </div>
                </div>
                <div class="form-group">
                    <label>标签描述</label>
                    <textarea kendo-editor k-encoded="false" ng-model="tag.description" style="height:800px"></textarea>
                </div>
                <button class="btn btn-primary" ng-click="save(tag)" ng-disabled="form.$invalid">保存</button>
            </form>
        </div>
    </div>
</div>