<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-default" ng-click="showActivity=!showActivity">Show/Hide Activity Description</button>
        <button class="btn btn-default" ng-click="showFeature=!showFeature">Show/Hide Feature Description</button>
        <div class="well" ng-hide="showActivity">
            <h1>{{activityData.name}}</h1>
            <h3>活动描述:</h3>
            <div ng-bind-html="activityData.description"></div>
        </div>
        <div class="well" ng-hide="showFeature">
            <h2>{{feature.name}}</h2>
            <h4>特征描述:</h4>
            <div ng-bind-html="feature.description"></div>
        </div>
    </div>
</div>