<zr-header title="上传特征工具"></zr-header>
<div class="row">
    <div zr-panel title="输入特征工具属性" col-lg="12">
        <form name="form" novalidate>
            <div class="form-group">
                <label>工具名称</label>
                <input type="text" name="name" class="form-control" ng-model="tool.name" required/>
                <div class="error" ng-show="form.name.$dirty && form.name.$invalid">
                    <small class="bg-danger">This field is required!</small>
                </div>
            </div>
            <div class="form-group">
                <label>工具地址</label>
                <input type="text" name="url" class="form-control" ng-model="tool.url" required/>
                <div class="error" ng-show="form.url.$dirty && form.url.$invalid">
                    <small class="bg-danger">This field is required!</small>
                </div>
            </div>
            <div class="form-group">
                <label>所属特征</label>
                <select name="feature" class="form-control" ng-model="tool.feature" ng-options="feature.$id as feature.name for feature in featureList">
                    <option value="">----</option>
                </select>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">输入属性<button class="btn btn-success" ng-click="addInput(tool)">添加</button></div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>输入类型</th>
                            <th>输入属性</th>
                            <th>操作</th>
                        </tr>
                        <tr ng-repeat="item in tool.inputs">
                            <td>
                                <select ng-model="item.type" ng-options="type as type for type in types">
                                    <option value="">----</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" ng-model="item.property"/>
                            </td>
                            <td><button class="btn btn-danger" ng-click="removeInput(item)">删除</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">输出属性<button class="btn btn-success" ng-click="addOutput(tool)">添加</button></div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>输出类型</th>
                            <th>输出属性</th>
                            <th>操作</th>
                        </tr>
                        <tr ng-repeat="item in tool.outputs">
                            <td>
                                <select ng-model="item.type" ng-options="type as type for type in types">
                                    <option value="">----</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" ng-model="item.property"/>
                            </td>
                            <td><button class="btn btn-danger" ng-click="removeOutput(item)">删除</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <label>工具描述</label>
                <textarea kendo-editor k-encoded="false" ng-model="tool.description"></textarea>
            </div>
        </form>
        <button class="btn btn-success" ng-click="add(tool)" ng-disabled="form.$invalid">确认</button>
    </div>
</div>