<div ui-view>
    <zr-header title="Tool for feature"></zr-header>
    <div class="row">
        <!--<div zr-panel="" title="Feature List" col-lg="6">-->
            <!--<table class="table">-->
                <!--<tr>-->
                    <!--<th>Feature Name</th>-->
                    <!--<th>Tool Name</th>-->
                    <!--<th>Action</th>-->
                <!--</tr>-->
                <!--<tr ng-repeat="item in featureList">-->
                    <!--<td>{{item.name}}</td>-->
                    <!--<td>{{item.tool.name}}</td>-->
                    <!--<td>-->
                        <!--<button class="btn btn-primary" ui-sref="tool.feature.select({featureId:item.$id})">Select Tool</button>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</div>-->
        <div zr-panel title="Tool List" col-lg="12">
            <table class="table">
                <tr>
                    <th>Tool Name</th>
                    <th>Belong Feature</th>
                    <th>Input Properties</th>
                    <th>Output Properties</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="item in featureToolList">
                    <td>{{item.name}}</td>
                    <td>{{item.feature.name}}</td>
                    <td>
                        <button class="btn btn-default btn-xs" ng-repeat="button in item.inputs" disabled="disabled">{{button.property}}::{{button.type}}</button>
                    </td>
                    <td>
                        <button class="btn btn-default btn-xs" ng-repeat="button in item.outputs" disabled="disabled">{{button.property}}::{{button.type}}</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning btn-xs" ui-sref="tool.feature.edit({id:item.$id})">
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="remove(item)">
                            <span class="glyphicon glyphicon-trash"></span> Del
                        </button>
                </tr>
            </table>
            <button class="btn btn-success" ui-sref="tool.feature.create">Add</button>
        </div>
    </div>
</div>