<div ui-view>
    <zr-header title="管理特征工具"></zr-header>
    <div class="row">
        <div zr-panel title="特征工具列表" col-lg="12">
            <table class="table">
                <tr>
                    <th>工具名称</th>
                    <th>所属特征</th>
                    <th>输入属性</th>
                    <th>输出属性</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="item in featureToolList">
                    <td>{{item.name}}</td>
                    <td>{{item.feature.name}}</td>
                    <td>
                        <button class="btn btn-default btn-xs" ng-repeat="button in item.inputs" disabled="disabled">{{button.property}}::{{button.type}}</button>
                    </td>
                    <td>
                        <button class="btn btn-default btn-xs" ng-repeat="button in item.outputs" disabled="disabled">{{button.property}}::{{button.type}}</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning btn-xs" ui-sref="tool.feature.edit({id:item.$id})">
                            <span class="glyphicon glyphicon-edit"></span> 修改
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="remove(item)">
                            <span class="glyphicon glyphicon-trash"></span> 删除
                        </button>
                </tr>
            </table>
            <button class="btn btn-success" ui-sref="tool.feature.create">上传特征工具x</button>
        </div>
    </div>
</div>