<div ui-view>
    <zr-header title="Tools for product"></zr-header>
    <div class="row">
        <div zr-panel title="Tool List" col-lg="12">
            <table class="table">
                <tr>
                    <th>Tool Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="tool in productToolList">
                    <td>{{tool.name}}</td>
                    <td>{{tool.type}}</td>
                    <td><div ng-bind-html="tool.description"></div></td>
                    <td>
                        <button type="button" class="btn btn-warning btn-xs" ui-sref="tool.product.edit({id:tool.$id})">
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="remove(tool)">
                            <span class="glyphicon glyphicon-trash"></span> Del
                        </button>
                </tr>
            </table>
            <button class="btn btn-success" ui-sref="tool.product.create">Add</button>
        </div>
    </div>
</div>