
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                选择活动 <button class="btn btn-default" ng-click="saveActivity()">保存</button>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div zr-panel title="已选活动">
                            <table class="table">
                                <tr>
                                    <th>活动名称</th>
                                    <th>活动标签</th>
                                    <th>操作</th>
                                </tr>
                                <tr ng-repeat="item in activityDataList">
                                    <td>{{item.name}}</td>
                                    <td>{{item.tags}}</td>
                                    <td><button class="btn btn-danger" ng-click="unselectActivity(item)">取消选择</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div zr-panel title="为选择活动">
                            <table class="table">
                                <tr>
                                    <th>活动名称</th>
                                    <th>活动标签</th>
                                    <th>操作</th>
                                </tr>
                                <tr ng-repeat="item in activityList" ng-hide="item.select">
                                    <td>{{item.name}}</td>
                                    <td>{{item.tags}}</td>
                                    <td><button class="btn btn-success" ng-click="selectActivity(item)">选择</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>