<div class="row" >
    <div class="col-lg-12" ui-view>
        <div class="panel panel-primary">
            <div class="panel-heading">
                已选工作产品 <button class="btn btn-success" ui-sref="project.selectProcess.selectedProduct.selectTool">选择工作产品工具</button>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>工作产品名称</th>
                        <th>工作产品类型</th>
                        <th>选择时间</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="item in productDataList">
                        <td>{{item.name}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.creationTimeStamp}}</td>
                        <td><button class="btn btn-danger" ng-click="refresh(item)">刷新工作产品数据</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>