<zr-header title="Project : {{project.name}}"></zr-header>
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-primary" ui-sref="project.selectProcess.chooseActivity">Choose Activities</button>
        <button class="btn btn-primary" ui-sref="project.selectProcess.selectedActivity">Selected Activities</button>
        <button class="btn btn-primary" ui-sref="project.selectProcess.selectedProduct">Selected Products</button>
    </div>
</div>
<br/>
<div ui-view></div>
<!--<tabset>-->
    <!--<tab heading="Select Activities">-->

        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
                <!--<div class="panel panel-primary">-->
                    <!--<div class="panel-heading">-->
                        <!--Selected Activity <button class="btn btn-default" ng-click="saveActivity()">Save</button>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--<div class="row">-->
                            <!--<div class="col-lg-6">-->
                                <!--<div zr-panel title="Selected Activities">-->
                                    <!--<table class="table">-->
                                        <!--<tr>-->
                                            <!--<th>Activity Name</th>-->
                                            <!--<th>Action</th>-->
                                        <!--</tr>-->
                                        <!--<tr ng-repeat="item in activityDataList">-->
                                            <!--<td>{{item.name}}</td>-->
                                            <!--<td><button class="btn btn-danger" ng-click="unselectActivity(item)">Unselect</button></td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-lg-6">-->
                                <!--<div zr-panel title="Activities in Organization Process Asset">-->
                                    <!--<table class="table">-->
                                        <!--<tr>-->
                                            <!--<th>Activity Name</th>-->
                                            <!--<th>Action</th>-->
                                        <!--</tr>-->
                                        <!--<tr ng-repeat="item in activityList" ng-hide="item.select">-->
                                            <!--<td>{{item.name}}</td>-->
                                            <!--<td><button class="btn btn-success" ng-click="selectActivity(item)">Select</button></td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</tab>-->
    <!--<tab heading="Project's Activities">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
                <!--<div class="panel panel-primary">-->
                    <!--<div class="panel-heading">-->
                        <!--Selected Activities-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--<table class="table">-->
                            <!--<tr>-->
                                <!--<th>Activity Name</th>-->
                                <!--<th>Action</th>-->
                                <!--<th></th>-->
                                <!--<th></th>-->
                            <!--</tr>-->
                            <!--<tr ng-repeat="item in projectActivity">-->
                                <!--<td>{{item.name}}</td>-->
                                <!--<td><button class="btn btn-primary">Tailor Me</button></td>-->
                                <!--<td><button class="btn btn-primary">Tailor My Features</button></td>-->
                            <!--</tr>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</tab>-->
    <!--<tab heading="Select Products">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->

                <!--<div class="panel panel-primary">-->
                    <!--<div class="panel-heading">-->
                        <!--Selected Products-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--<table class="table">-->
                            <!--<tr>-->
                                <!--<th>Product name</th>-->
                                <!--<th>Action</th>-->
                            <!--</tr>-->
                            <!--<tr ng-repeat="item in productDataList">-->
                                <!--<td>{{item.name}}</td>-->
                                <!--<td><button class="btn btn-primary">Select Tool</button></td>-->
                            <!--</tr>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</tab>-->
    <!--<tab heading="Select Feature's Tool">Static content</tab>-->
    <!--<tab heading="Select Product's Tool">Static content</tab>-->
    <!--<tab heading="Select Feature's input and output">Static content</tab>-->
<!--</tabset>-->