<div ui-view>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                活动特征列表
            </div>
            <div class="panel-body">
                <h3>未选特征</h3>
                <table class="table">
                    <tr>
                        <th>特征名称</th>
                        <th>特征描述</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="item in unSelectFeatures">
                        <td>{{item.name}}</td>
                        <td><div ng-bind-html="item.description"></div></td>
                        <td>
                            <button class="btn btn-success" ng-click="select(item)">选择</button>
                        </td>
                    </tr>
                </table>
                <h3>已选特征 <button class="btn btn-primary" ui-sref="project.selectProcess.selectedActivity.selectFeature.selectTool">选择特征工具</button></h3>
                <table class="table">
                    <tr>
                        <th>特征名称</th>
                        <th>特征描述</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="item in activityData.features">
                        <td>{{item.name}}</td>
                        <td><div ng-bind-html="item.description"></div></td>
                        <td>
                            <button class="btn btn-success" ng-click="unselect(item)">取消选择</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>