<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-default" ng-click="showActivity=!showActivity">Show/Hide Activity Description</button>
        <button class="btn btn-default" ng-click="showFeature=!showFeature">Show/Hide Feature Description</button>
        <div class="well" ng-show="showActivity">
            <h1>{{activityData.name}}</h1>
            <h3>活动描述:</h3>
            <div ng-bind-html="activityData.description"></div>
        </div>
        <div class="well" ng-show="showFeature">
            <h2>{{feature.name}}</h2>
            <h4>特征描述:</h4>
            <div ng-bind-html="feature.description"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <!--<tr>-->
                <!--<td><label>功能点估算工具的地址</label></td>-->
                <!--<td><input type="text" size="40" ng-model="url"></td>-->
                <!--<td><button class="btn btn-primary" ng-click="open()">打开</button></td>-->
            <!--</tr>-->
            <tr>
                <td><label>工具地址</label></td>
                <td><input type="text" size="40" ng-model="activityData.address"></td>
                <td><button class="btn btn-primary" ng-click="save()">保存</button>
                    <button class="btn btn-primary" ng-click="open()">打开工具</button></td>    
            </tr>
            <tr>
                <td><label>初始化接口的地址</label></td>
                <td><input type="text" size="40" ng-model="activityData.sendAddress"></td>
                <td><button class="btn btn-primary" ng-click="send()">发送</button></td>
                <td ng-show="projectId">已发送，生成项目id:{{projectId}}</td>
            </tr>
            <tr>
                <td><label>获取最估算结果的地址</label></td>
                <td><input type="text" size="40" ng-model="activityData.receiveAddress"></td>
                <td><button class="btn btn-primary" ng-click="receive()">接收</button></td>
            </tr>
        </table>

    </div>
</div>
<div style="height:800px">
    <pre>{{data}}</pre>
</div>